@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Condensed&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
}

:root {
  /* Build defaults */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Font settings */ 
  --FONT-HEADER: 'Poppins', sans-serif;
  --FONT-TITLE: 'Roboto Condensed', sans-serif;;
  --FF: 'Open Sans', sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* Colors */ 
  --CARD-COLOR: aliceblue;
  --BODY-COLOR: palegoldenrod;
  --BORDER-COLOR: #000;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.253);
  --HEADER-BGCOLOR: #333;
  --NAVBAR-COLOR: #333;
  --INPUT-BORDERCOLOR: lightslategray;

  --FONT-MUTE: rgb(56, 56, 56) ;

  --SHADOW: 1px 1px 5px var(--SHADOW-COLOR);
  --SHADOW-HOVER: 2px 2px 10px rgba(0, 0, 0, 0.575);




  /* Borders */
  --BORDER: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;
  

  /* Margin-Padding */ 
  --PADDING-TB : 0.25em;
  --PADDING-SIDE: 2.5%;

  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0 ;


}

/* || Utility */ 

.offscreen {
  position: absolute;
  left: -10000px;
}
.nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* General Declarations */
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:  var(--BODY-COLOR);
}

h1, h2, h3 {
  font-family: var(--FONT-HEADER);
}

main {
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
}

a:any-link {
  color: #000;
}


